<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/_header %>
</head>
<body>

    
   <h1></h1>
<ul>
	
<li>Your short url is :<%= shortURL %></li>
 

 <li>Which comes from : <%= longURL %></li>


</ul>
   
    <a href="#">Shorten String</a>

</body>