<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/_header %>
</head>
<body>

    <h1><% urls %></h1>
    
<ul>
    <% for (var shortUrl in urls) { %>
    <li>
     
  <form method="POST" action=<%="/urls/" + shortUrl+ "/delete" %>>
<div><%= shortUrl %> <%= urls[shortUrl] %></div><a href="<%= "/urls/"+shortUrl %>">Edit</a><button type="submit">DELETE</button>

</form>

</li>
<% } %>  
</ul>
 
</body>
</html>
