<head>
<title>Tiny App</title>


<style type="text/css">
div { float: left; padding: 10px; width: 100%} ul li {list-style: none; float:left} 
}
</style>
</head>
<body>
<h1>Login</h1>
<form method="POST" action="/register">
<input type="email" name="email" placeholder="Email">
<input type="password" name="password" placeholder="Password">


<br /><button type="submit">Submit</button>


</form>
</body>