<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/_header %>
</head>
<body>

    <h1><% urls %></h1>
<ul>
	<% for (var shortUrl in urls) { %>
<li><%= shortUrl %> <%= urls[shortUrl]%></li>
 <% } %>
</ul>
   
    <a href="#">Shorten String</a>
</body>
</html>